@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.badge {
  background-color: tomato;
  color: #fff;
  border: none;
}

.col {
  gap: 10px;
}

.card {
  height: fit-content;
}

.card h2, p {
  color: #212529;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* transition: 0.2s; */
}

.card.active {
  cursor: pointer;
  border: 5px solid #cfca64;
  padding: 2px;
  transition-duration: 300ms;
  transform: scale(0.9);
}

.quantity-controls {
  display: none;
  margin-block: 5px;
  width: 100%;
  color: #fff;
  transition: display 2s ease;
}

.sushi-card:hover .quantity-controls,
.sushi-card:active .quantity-controls {
  display: block; /* Display the buttons on hover or focus */
  transition: display 2s ease;
}

.quantity-controls button {
  margin-inline: 3px;
}

.btn.tomato {
  background-color: tomato;
  border: none;
  color: #fff;
}

.btn.tomato:hover {
  background-color: #cfca64;
}
