@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.badge {
  background-color: tomato;
  color: #fff;
  border: none;
}

.card {height: 100%!important;}

.card.active {
  cursor: pointer;
  border: 5px solid #cfca64;
  padding: 2px;
  box-shadow: inset 1px 1px 3px 1px #000;
}

.quantity-controls {
  display: none;
}

.quantity-controls:hover {
  display: flex;
  justify-content: space-between;
  margin-block-start: 5px;
}