nav.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.sushi--logo {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.underline:hover {
 color: #C2CA69!important;
}

.container-fluid {
    padding-inline: 2rem;
}

.navbar {
    padding-inline: 2rem;
}
