h1,
p {
  color: #292929;
}

.col img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  transition: 0.2s;
}

.col .active {
  cursor: pointer;
  border: 3px solid #cfca64;
  padding: 2px;
}

.btn {
  background-color: tomato;
  border: none;
}

.btn:hover {
  background-color: #cfca64;
}
