body {
  background-color: #212529;
}

.login {
  width: 10rem;
}

.btn__send {
  background-color: #fe3b18;
  border: none;
  font-weight: 700;
}

.btn__send:hover {
  background-color: #cfca64;
  border: none;
  color: #212529;
  font-weight: 700;
  box-shadow: none;
}

#help__login a {
  font-size: 1rem;
  text-decoration: underline;
}
