.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1,
p {
  color: #fff;
}

.col img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #fff;
  transition: 0.2s;
}

.col .active {
  cursor: pointer;
  border: 3px solid #cfca64;
  padding: 2px;
}

/* .col img:hover {
  cursor: pointer;
  border: 3px solid #cfca64;
} */

.col .item__name {
  text-transform: capitalize;
  font-size: max(1.4vw, 16px);
  margin-top: 10px;
}
