
h1,p {
  color: #fff;
}
.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid #fff;
}

.col .item__name {
  text-transform: capitalize;
  font-size: max(1.4vw, 16px);
  margin-top: 10px;
}

.explore__menu__text {
  color: #fff;
}

.item__name {
  color: #fff;
}

.category img:hover {
  cursor: pointer;
  border: 5px solid #cfca64;
  transition-duration: 300ms;
  transform: scale(0.9)
}

.bg-danger {
 background-color: tomato!important
}