.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background: #e9ecef;
  transition: right 0.5s;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}

.sidebar--closed {
  right: -100%;
}

.sidebar--open {
  right: 0;
}

.cart--box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 75%;
  scrollbar-width: thin;
  padding-inline: 5px;
}

.card--field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  gap: 5px;
}

.cart--box img {
  width:80px;
  height:80px;
  object-fit: cover;
  border-radius: 100px;
  margin-inline-end: 1rem;
}
.btn--box {
  display: flex;
  justify-content: flex-end;
}

.side--btn {
  background-color: #cfca64 !important;
  border: none;
  text-shadow: 1px 1px 1px #212529;
}

.side--btn:hover {
  background-color: transparent !important;
  background-color: #212529 !important;
  color: #cfca64!important;
  text-shadow: none;
}

.name--description {
  margin: 0;
  width: 30%;
}

.name--description h5,
.name--description p {
  margin: 0;
}

.box--button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.wrap--button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.sidebar--footer {
 min-width: 55%;
  font-size: large;
  display: flex;
  justify-content: space-between;
  position: sticky;
  margin-top: 10px;
  background-color: #cfca64;
  padding: 5px;
}

.delete--item {
  color: #212529!important;
}
.delete--item:hover {
 color: tomato !important;
 cursor: pointer;
}

.close--sidebar {
  cursor: pointer;
}

.close--sidebar:hover {
  fill: tomato;
  transform: rotate(180deg);
}

.clear--btn {
  background-color: #212529;
  color: #cfca64;
}

.clear--btn:hover {
  background-color: transparent;
  border: 1px solid tomato;
  color: tomato;
}

.final--btn {
  display: flex;
  justify-content: space-between;
}

.payment {
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #0029f6;
  color: #fff;
}

.payment:hover {
  background-color: transparent;
  border: 1px solid #0029f6;
}